<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Other CSS-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Internal CSS-->
  <link rel="stylesheet" href="/styles/scroll_up.css" type="text/css" />
  <link rel="stylesheet" href="/styles/forms.css" type="text/css" />

  <!-- Scripts -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Internal JS-->
  <script type="text/javascript" src="/scripts/scroll-up.js"></script>

  <title>Rosette</title>

</head>
<body>
    <!--HEADER BEGINS-->
    <%- include('partials/_header') %>
    <!--HEADER ENDS-->

    <main style="margin: 5%">
      <h4>All Available Maps</h4>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col" class="col-2">Map Name</th>
            <th scope="col" class="col-3">Description</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% for (let map of maps) { %>
            <tr>
              <td><a href="/maps/<%- map.id %>"><img src="https://cdn-icons-png.flaticon.com/512/1653/1653458.png" style="width:6em;height:6em;"></a></td>
              <td><%=map.name%></td>
              <td><%=map.description%></td>
              <td>
                <a href="/maps/<%- map.id %>" class="btn btn-outline-primary p-2" style="border:none;"><i class="fa-solid fa-eye"></i> View</a>
                <% if (id) { %>
                  <form class="form-inline" method="POST" action="/maps/<%= map.id %>/delete"><button type="submit" class="btn btn-outline-danger d-block p-2" style="border:none;"><i class="fa-solid fa-trash-can"></i> Remove</button></form>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <button class="scroll-up"><i class="fa-solid fa-angles-up"></i></button>
    </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
