<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- Interal CSS -->
    <link rel="stylesheet" href="/styles/forms.css" type="text/css" />  

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

  <title>Map</title>
</head>

<body>
  <!--HEADER BEGINS-->
  <%- include('partials/_header') %>
  <!--HEADER ENDS-->

  <% if (id) { %>
    <main style="margin: 1em;">
      <h3>Edit or Delete Map: <%=map.name%> </h3>
      <div id="map" class="my-5 " style="height: 45em; width: 100%">
      </div>

      <p>Map by: <%= map.creator_name  %></p>
      <form method="POST" action="/maps/<%= map.id %>/edit">
        <div class="form-group">
          <label for="inputName">Change map name</label>
          <input class="form-control" name="name" aria-describedby="emailHelp" value="<%= map.name %>">
        </div>
        <div class="form-group">
          <label for="inputDescription">Change map description</label>
          <input class="form-control" name="description" value="<%= map.description %>">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form method="POST" action="/maps/<%= map.id %>/delete">
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>
  <% } else { %>
    <h3>Please Login to view this content</h3>
  <% } %>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Leaflet JS-->
  <script>
    var points = <%- JSON.stringify(points) %>;
    let initialLat = 43.7;
    let initialLong = -79.4;
    if(points.length > 0) {
      [initialLat, initialLong] = [points[0].latitude, points[0].longitude];
    }
    var map = L.map('map').setView([initialLat, initialLong], 13); // [lat, long],
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '© OpenStreetMap'
    }).addTo(map);
    for(const i in points) {
      eval("marker_" + i + " = L.marker([" + points[i].latitude+ ","+points[i].longitude+"]).addTo(map)");
      eval("marker_" + i + ".bindPopup('<p>" + points[i].name + "</p>').openPopup()");
    }
  </script>
</body>
</html>
