<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/scroll_up.css" type="text/css" />
  <link rel="stylesheet" href="/styles/forms.css" type="text/css" />


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Internal JS-->
  <script type="text/javascript" src="/scripts/scroll-up.js"></script>

  <title>Rosette</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 5%;">

    <% if (!name) { %>
      <h3>Please Login</h3>
      <p>To view this content please first login.</p>

    <%} else { %>
      <h3><%= name.name %>'s Profile</h3>

        <div class="row py-5">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">My Favourite Maps</h5>
                <p class="card-text">Jump to a list of your favourited maps here!</p>
                <a href="#favourites" class="btn btn-primary">Favourites</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Maps I've Contributed To</h5>
                <p class="card-text">Jump to a list of maps you have contributed points to here!</p>
                <a href="#contributions" class="btn btn-primary">Contributions</a>
              </div>
            </div>
          </div>
        </div>
        <h4 id="favourites">My Fave Maps</h4>
        <% if (faves.length > 0) { %>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Map Name</th>
              <th scope="col">Description</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <% for(const map of faves) { %>
              <tr>
                <td><a href="/maps/<%- map.id %>"><img src="https://cdn-icons-png.flaticon.com/512/1653/1653458.png" style="width:6em;height:6em;"></a></td>
                <td><%= map.name%></td>
                <td><%-map.description%></td>
                <td>
                  <style>form { display: inline; }</style>

                  <a href="/maps/<%- map.id %>" class="btn btn-outline-primary" style="border:none;" data-toggle="tooltip" data-placement="left" title="View Map Details"><i class="fa-solid fa-eye"></i> View</a>
                  <a href="/maps/<%= map.id %>/edit" class="btn btn-outline-warning" style="border:none;" data-toggle="tooltip" data-placement="left" title="Edit Map Details"><i class="fa-solid fa-pencil"></i> Edit</a>
                  <form class="form-inline" method="POST" action="/maps/<%= map.fav_id %>/unfave"><button style="border:none" type="submit" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="left" title="Remove Map From Favourites"><i class="fa-solid fa-trash-can"></i> Remove</button></form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <p id="favourites">You have no Favourite Maps</h4>
        <% } %>
        <hr>
        <h4 id="contributions">My Contributions</h4>
        <% if (contributions.length > 0) { %>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Map Name</th>
              <th scope="col">Description</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <% for(const map of contributions) { %>
              <tr>
                <td><a href="/maps/<%- map.id %>"><img src="https://cdn-icons-png.flaticon.com/512/1653/1653458.png" style="width:6em;height:6em;"></a></td>
                <td><%= map.name%></td>
                <td><%-map.description%></td>
                <td>
                  <a href="/maps/<%- map.id %>" class="btn btn-outline-primary" style="border:none;" data-toggle="tooltip" data-placement="left" title="View Map Details"><i class="fa-solid fa-eye"></i> View</a>
                  <a href="/maps/<%= map.id %>/edit" class="btn btn-outline-warning" style="border:none;" data-toggle="tooltip" data-placement="left" title="Edit Map Details"><i class="fa-solid fa-pencil"></i> Edit</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <p id="contributions">You have no Contributions</h4>
        <% } %>
    <% } %>
    <button class="scroll-up"><i class="fa-solid fa-angles-up"></i></button>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  </script>
</body>
</html>
